<div class="container">
    <div class="telaCad">
        <form #signupForm = "ngForm">
            <h2 class="heading">Cadastro</h2>

            <label class="label">Email</label>
            <input type="email" name="email" placeholder="Informe o e-mail"
            [(ngModel)]="email" class="formInput"
            maxlength="60" required />

            <label class="label">Senha</label>
            <input type="password" name="password"
            placeholder="Insira sua senha"
            [(ngModel)]="password" class="formInput" required />

            <label class="label">Usuario</label>
            <input name="displayName" placeholder="Informe um nome de usuario"
            [(ngModel)]="displayName" class="formInput" maxlength="12" required />

            <button [disabled]="!signupForm.form.valid"
            type="submit" (click)="signUp()" class="btn"
            id="btn-cad">
                Cadastrar
            </button>
        </form>
    </div>
</div>
