<div class="navBar">
    <div id="logo"></div>
    <div id="heading"><a routerLink="/">IvChat</a></div>
    <div class="links">
        <span>
            <a *ngIf="!(user|async)?.uid" href="#">Login</a>
        </span>
        <span>
            <a *ngIf="!(user|async)?.uid" routerLink="/signup">Cadastro</a>
        </span>
        <span>
            <span id="userEmail" *ngIf="(user|async)?.uid">Olá {{userEmail}}</span>
        </span>
        <span>
            <a href="#" (click)="logout()" *ngIf="(user|async)?.uid">Sair</a>
        </span>
    </div>
</div>
